body {
    padding: 0;
    margin: 0;
    color: #020544;
}
.navigation {
    color: white;
    background-color: #020544;
    position: sticky;
    top: 0;
}
.navigation-button {
    display: none;
    text-align: center;
    background-color: #020544;
    position: sticky;
    top: 0;
}
.navigation h1 {
    display: inline-block;
    position: relative;
    left: 15px;
    font-size: 1.5rem;
    font-family: cursive;
}
.navigation h2 {
    width: 10%;
    text-align: center;
    display: inline-block;
    float: right;
    font-size: 1.1rem;
    line-height: 2rem;
    cursor: pointer;
    font-family: cursive;
}
.navigation h2:hover {
    background-color: #010221;
}
.navigation div {
    width: 50px;
    text-align: center;
    display: inline-block;
    float: right;
    font-size: 1rem;
    line-height: 55px;
}
.social-media {
    margin-top: 20%;
    max-width: 70%;
}
.main-photo-containers img {
    max-width: 100%;
}
.about {
    padding-bottom: 15px;
    margin-bottom: 20px;
    letter-spacing: 2px;
    font-style: italic;
    font-weight: 600;
    text-indent: 2rem;
    text-align: center;
}
.trainer-photo {
    max-width: 30%;
    padding-left: 35%;  
    margin-right: 35%; 
}
.trainer-photo img {
    max-width: 100%;
}
.trainer-bio {
    padding-left: 15%;
    padding-right: 15%; 
    padding-bottom: 20px;
    letter-spacing: 2px;
    font-style: italic;
    font-weight: 600;
    text-indent: 2rem;
    text-align: center;
}
#google-maps img {
    width: 100%;
}
.contacts-information {
    width: 100%;
    margin-bottom: 30px;
    margin-top: 10px;
    height: 50px;
}
.contacts-information div {
    margin-bottom: 5px;
    text-align: center;
    margin-left: 10px;
    font-style: italic;
    font-weight: 600;
    letter-spacing: 1px;
}
.p-center {
    text-align: center;
}
.partners {
    margin: 20px;
    text-align: center;
    border: 5px solid #020544;
    border-radius: 20px;
    font-family: cursive;
}
.partners img {
    max-height: 150px;
}
.rights {
    background-color: #020544;
    color: white;
    text-align: center;
    padding: 20px;
}
.schedule-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: #00000038;
    display: none;
    font-family: cursive;
}
.schedule {
    margin-top: 5%;
    margin-left: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 80%;
    border-radius: 30px;
    background-color: white;

}
.schedule span {
    position: absolute;
    top: 10%;
    right: 13%;
}
.schedule h2 {
    text-align: center;
}
.schedule h3 {
    margin-left: 10%;
}
.schedule-day {
    width: 19%;
    display: inline-block;
    text-align: center;
}
.schedule-day p {
    font-size: 1rem;
}
.close-button {
    width: 20%;
    height: 30px;
    color: white;
    line-height: 30px;
    margin-top: 15px;
    margin-left: 40%;
    text-align: center;
    background-color: #020544;
    border-radius: 8px;
    cursor: pointer;
}
.close-button:hover {
    background-color: #010221
}
#competitors, #preparatory, #school {
    display: none;
    height: 30px;
    color: white;
    line-height: 30px;
    margin-top: 5px;
    margin-left: 20%;
    width: 60%;
    text-align: center;
    background-color: #020544;
    border-radius: 8px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .navigation {
        display: none;
        height: 380px;
    }
    .navigation-button {
        display: block;
    }
    .navigation h2 {
        width: 100%;
        background-color: #020544;
    }
    .navigation-button img {
        max-height: 2rem;
        padding: 5px;
    }
    .schedule h3 {
        margin: 0;
        text-align: center;
    }
    .schedule-day {
        width: 100%;
        margin-bottom: 1%;
    }
    .schedule-day h5 {
        margin: 0;
    }
    .schedule-day p {
        margin: 0;
    }
    .preparatory-schedule {
        display: none;
    }
    .competitors-schedule {

    }
    .school-schedule {
        display: none;
    }
    .school-schedule p {
        display: inline-block !important;
    }
    #preparatory, #school {
        display: block;
    }
    .close-button {
        width: 60%;
        margin-left: 20%;
    }
    .partners img {
        max-height: 80px;
    }
}